.container-width {
    width: 1032px;
    margin: 0 auto;
    height: 100%;
}

.ov {
    overflow: hidden;
}

.fl {
    float: left!important;
}

.fr {
    float: right!important;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ellipsis-within-two-rows,
.ellipsis-within-three-rows,
.ellipsis-within-four-rows,
.ellipsis-within-five-rows {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.ellipsis-within-two-rows {
    -webkit-line-clamp: 2;
}

.ellipsis-within-three-rows {
    -webkit-line-clamp: 3;
}

.ellipsis-within-four-rows {
    -webkit-line-clamp: 4;
}

.ellipsis-within-five-rows {
    -webkit-line-clamp: 5;
}

.list-inshort-with-img {
    width: 446px;
    height: 100px;
}

.list-inshort-without-img {
    width: 654px;
    height: 65px;
}


/* 发现 话题 页面的大标题 */

.common-title {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 500;
    color: #333;
    margin-bottom: 20px;
}

.btn-primary {
    color: #fff;
    background-color: #009a61;
    border-color: #008151;
}

.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.inline {
    display: inline-block;
    vertical-align: top;
}

.inline-middle {
    display: inline-block;
    vertical-align: middle;
}

.pointer {
    cursor: pointer;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.hover-in-blue:hover {
    color: #007fff;
}

.list-tools {
    width: 654px;
    height: 32px;
    margin: 12px 0 0;
}

.list-tools>li {
    float: left;
    padding: 0 12px;
    color: #76839b;
    font-size: 13px;
    line-height: 30px;
    cursor: pointer;
    margin-right: 10px;
}

.list-tools>.list-tools-agree,
.list-tools>.list-tools-disagree {
    padding: 0 12px;
    color: #0084FF;
    background: rgba(0, 132, 255, 0.1);
    border-color: transparent;
    border-radius: 4px;
}

.list-tag {
    display: inline;
    font-size: 14px;
    vertical-align: middle;
    background: #0084FF;
    border-radius: 4px;
    color: #fff;
    padding: 3px 5px;
    font-weight: 400;
    margin-right: 10px;
}

::-webkit-scrollbar {
    z-index: 11;
    width: 6px
}

::-webkit-scrollbar:horizontal {
    height: 6px
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    width: 6px;
    background: #b4bccc
}